@import "../../common/styles/colors.scss";

.itemCardContainer {
  padding: 18px;
  width: 100%;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0px;
  background-color: $grey000;
  transition: 0.1s;
}

.itemCardContainer:hover {
  border: 2px solid $grey300;
  transition: 0.1s;
  cursor: pointer;
}
