@import "../../styles/colors.scss";

.react-select-container {
  font-size: 16px;
  width: 300px;

  .react-select__control {
    .react-select__value-container {
    }

    .react-select__indicators {
    }
  }

  .react-select__control--is-focused {
    border-color: $primary;
    box-shadow: none;
  }

  .react-select__control--is-focused:hover {
    border-color: $primary;
  }

  .react-select__menu {
    .react-select__menu-list {
      .react-select__option {
      }

      .react-select__option--is-focused {
        background: $primary;
        color: white;
        cursor: pointer;
      }

      .react-select__option--is-selected {
        background: $primary;
        color: white;
      }
    }
  }
}
